        *{
            margin: 0;
            padding: 0;
            text-decoration: none;
            list-style-type: none;
        }
        
        #banner{
            width: 20rem;
            padding-top: 20px;
            padding-left: 30px;
            }

        body{
            /* background-color: #c8c8c8; */
            /* height: 200px; */
            background-color: rgb(0, 0, 0); /* For browsers that do not support gradients */
            /* background-image: linear-gradient(to bottom right, #3a8474,  #067d68); */
              }


        div.chain-main#telos_main{
            border: 1px solid black;
            /* margin: 0.45rem; */
            text-align: center;
            background-color: red;
            }

        div.chain-table{
            /* border: 1px solid black; */
            display: inline-block;
            margin: 0.45rem;
            text-align: center;
            }

        div.chain-table-elements{
            /* border: rgb(8, 252, 138) solid 3px; */
            display: inline-block;
            padding: 1rem 1rem;
            vertical-align: middle;
            margin: 10px;
            /* text-align: left; */
            }

        div.chain-table-elements.h2{
            text-align: left;
            }


        h1,h2,
        div {
            text-align: center;
            margin: 1em 0 1em 0;
            color: white;
            }
    
        button {
            width: 120px;
            height: 40px;
            background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
            outline: none;
            border: none;
            color: blacks;
            font-weight: 700;
            border-radius: 3px;
         }


        
        /* ACTIVE */
        .button.green {
            background: #37fb44;
            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#656565), to(#444));
            background: -moz-linear-gradient(#656565, #37fb44);
            background: linear-gradient(#656565, #37fb44);
            border: solid 1px #37fb44;
            border-bottom: solid 3px #37fb44;
            box-shadow: inset 0 0 0 1px #939393;
            color: #d8d8d8;
            text-shadow: 0 1px 0 #37fb44; }
    
        .button.black:hover {
            background: #4c4c4c;
            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#37fb44), to(#565656));
            background: -moz-linear-gradient(#4c4c4c, #37fb44);
            background: linear-gradient(#4c4c4c, #37fb44);
            border: solid 1px #464646;
            border-bottom: solid 3px #414141;
            box-shadow: inset 0 0 0 1px #818181; }
    
        .button.black:active {
            background: #37fb44;
            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#474747), to(#37fb44));
            background: -moz-linear-gradient(#474747, #37fb44);
            background: linear-gradient(#474747, #37fb44);
            border: solid 1px #2f2f2f;
            box-shadow: inset 0 10px 15px 0 #37fb44; }


            /* INACTIVE */
            .button.black {
                background: #303030;
                background: -webkit-gradient(linear, 0 0, 0 bottom, from(#656565), to(#444));
                background: -moz-linear-gradient(#656565, #444);
                background: linear-gradient(#656565, #444);
                border: solid 1px #535353;
                border-bottom: solid 3px #414141;
                box-shadow: inset 0 0 0 1px #939393;
                color: #fff;
                text-shadow: 0 1px 0 #2f2f2f; }
        
            .button.black:hover {
                background: #4c4c4c;
                background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4c4c4c), to(#565656));
                background: -moz-linear-gradient(#4c4c4c, #565656);
                background: linear-gradient(#4c4c4c, #565656);
                border: solid 1px #464646;
                border-bottom: solid 3px #414141;
                box-shadow: inset 0 0 0 1px #818181; }
        
            .button.black:active {
                background: #474747;
                background: -webkit-gradient(linear, 0 0, 0 bottom, from(#474747), to(#444));
                background: -moz-linear-gradient(#474747, #444);
                background: linear-gradient(#474747, #444);
                border: solid 1px #2f2f2f;
                box-shadow: inset 0 10px 15px 0 #3e3e3e; }